

@font-face {
    font-family: 'Gotham-ExtraLight';
    src: url('../fonts/gotham/Gotham-ExtraLight.otf') format('opentype');
}

/* Heavily snipped */
@font-face {
    font-family: "MuseoSans-300";
    src: url('../fonts/MuseoSans-300.otf')/* Multiple url() and format() follow */;
}

@font-face {
    font-family: "MuseoSans-1";
    src: url('../fonts/MuseoSans_1.otf')/* Multiple url() and format() follow */;
}


html {
    background: url("../images/backgrounds/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    /*overflow: hidden;*/
}

body, html {
    min-height: 100%;
    height: 100%;
}

body {
  /*  background: url("../images/backgrounds/Background.png") center center no-repeat;
    background-size: cover;*/
    /*background-repeat: repeat-y;*/
    height: 100%;
    margin: 0;
  /*  font-family: "Open Sans", Helvetica, Arial, sans-serif;*/
  font-family: MuseoSans-300, sans-serif;
   /* padding-bottom: 80px;*/
}


#wrapper {
    /*background: url("../images/backgrounds/bgd-clouds.jpg") center no-repeat;*/
    /*background-size: cover;*/
    width: 1200px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #00447F;
    border-top: none;
    box-shadow: 12px 0 18px -10px rgba(50, 50, 50, 0.2), -12px 0 18px -10px rgba(50, 50, 50, 0.2);
}

#container {

    position: relative;
    /*background: url("../images/body-model-large.png") center no-repeat;*/
    background-size: cover;
    height: 860px;
    /*padding-bottom: auto auto 100px auto;*/
    /*margin-bottom: 10px;*/
}

#linex-package {
    width: 28%;
    position: absolute;
    left: 0;
    bottom: -18px;

}

#linex-brand {
    position: absolute;
    left: 40px;
    top: 10px;
    /*width: 400px;*/
    width: 30%;
    height: auto;
}

#linex-stamp {
    position: absolute;
    right: 25px;
    bottom: 5px;
}

#linex-note {
    position: absolute;
    right: 50px;
    bottom: 10px;
    text-align: left;
    /*border: 1px solid black;*/
    font-size: 9px;
}

#linex-note p, #linex-note ul {
    margin: 0;
    padding: 0;
    color: #00457d;
    font-weight: 900;
    font-size: 10px;
}

#linex-code{
    position: absolute;
    right: -45px;
    bottom: 65px;
    transform: rotate(-90deg);
    color: #083d73;
    font-size: 7pt;
}

#linex-description {
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 570px;
    height: 725px;
    /*border: 0px solid #00457f;*/
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    background: #C3E2F2;
    /*background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(58, 170, 220, 1));*/
    color: #00457f;
    font-family: MuseoSans-300, sans-serif;
  /*  font-size: 10pt;*/
  color: black;
  /*font-size: 16px;*/
}

#linex-description p {
    text-align: justify;
}



footer {
    width: 100%;
   /* height: 100px;*/
    height: auto;
    background: #083d73;
    padding: 10px 0;
    color: white;
    font-family: 'Gotham-ExtraLight', "Open Sans";
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    /*margin-top: 10px;*/
}

footer p {
    width: 50%;
    margin: 0 auto;
    padding: 0;
   /* font-size: 4vw;*/
}

@media (max-height: 400px) {

    #main-content {
        color: red;
    }

}

@media (max-height: 768px) {
     /* EDIT(768) CSS that should be displayed if width is equal to or less than 800px goes here 
*/
#wrapper {
        /*width: 800px;*/
        zoom: 0.70;
        -moz-transform: scale(0.70);
        -moz-transform-origin: 0 0;
    }
}




/*NEW*/
.package-small {
    width: 70%;
    height: auto;
    margin-left: 30px;
    margin-bottom: 0;
    margin: 30px auto 0 30px;
}

.kapsula {
    width: 30%;
    height: auto;
    position: relative;
    left: 67%;
    top: 0px;
}

.relative {
    position: relative;
    top: 0;
    left: 0;
   /* border: 1px solid black;*/
}

#pecat {
    width: 32%;
    height: auto;
    position: absolute;
    left: 60%;
    top: 65%;
}

#linexi {
    width: 100%;
    height: auto;
}

#gradient-antibiotici {
    position: relative;
    width: 100%;
    height: auto;
}
.gtn {
   /* position: relative;
    border: 3px solid green;
    height: 100px;
    background-image: url(src="../images/gradient-antibiotici.png") ;*/
  /*  height: 100px;
    background: url(src="../images/gradient-antibiotici.png") center center no-repeat;*/
/*    width: 100%;*/
   

}

#dobro-je-znati {
 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
 /*   display: block;*/
    width: 100%;
    height: auto;
    padding: auto;
    margin: auto;
    text-align: center;
   /* border: 1px solid red;*/
    /*font-size: 5.9vw;*/
  /*  display: block;*/
  /*  margin: auto;*/
    /*width: 100%;
*/    /*font-size: 25px;*/
}

#linex-forte-packshot-kalendar{
  /*  border: 1px solid black;*/
    margin-left: -10px;
    margin-right: -10px;
    width: 70%;
    height: auto;
  /*  border: 1px solid blue;*/
}

#antibiotik-linex {
   /* border: 1px solid red;*/
    width: 42%;
    height: auto;
    position: absolute;
    top: -22%;
  /*  border: 1px solid black;*/
}

#od1kapsulednevno-small {
    /*border: 1px solid black;*/
    position: absolute;
    right: 1px;
    top: 25%;
    height: 200px;
    width: auto;
}

.highlights {
    text-align: center;
    padding: 3px;
    margin: auto;
   /* line-height: 0.1em;*/
}

.highlights > h4 {
    margin: 0;
}

.question-highlight {
    text-align: left;
    font-size: 16px;
}

.blue {
  /*  border: 2px solid red;*/
    background-image: linear-gradient(to right, #3FBBE7 , #2E4694);
    color: white;
    font-size: 20px;
    margin: 15px auto;
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reverse {
    background-image: linear-gradient(to right, #2E4694, #3FBBE7);
}

.mikrobiotu {
    font-size: 140%;
}

.purple {
    background-image: linear-gradient(to right, #E1007A, #6C3689);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.yellow {
    background-image: linear-gradient(to right, #07ACAD , #D2D605);
    height: auto;
}

.yellow h1 {
    color: white;
  /*  border: 1px solid red;*/
    margin: 0px;
}

.yellow h2 {
    color: white;
}

.yellow h4 {
    font-size: 18px;
  /*  border: 1px solid black;*/
    font-weight: 900;
}

.orange {
    background-image: linear-gradient(to right, #FFE900, #E95F38);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-left: -10px;
}

.question-highlight {
    text-align: left;
    font-size: 12px;
    margin: 5px auto 15px 35px;
    padding-left: 40px;
}

.question-tag {
    height: 110%;
/*    background: -webkit-linear-gradient(#E1007A, #6C3689);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    position: absolute;
    top: -4px;
    left: -10px;
}

.framed {
    /*border: 3px solid #E2007A;*/
    border-width: 1px;
    border-style: solid;
   
    text-align: center;
    border-color: #E2007A;
}

.no-bullet {
    list-style-type: none;
}



.line-spacing {
    line-height: 0;

}

.bottom-space li {
    margin-bottom: 1em;
}

.blue-color {
    color: #2E4694;
}

.first-highlight {
    width: 80%;
    box-sizing: border-box;
    border-width: 3px 1px 3px 3px;
}

.second-highlight {
    width: 95%;
}

.third-highlight {
    width: 95%;
    border-width: 1px 3px 3px 3px;
    padding-top: 0;
    padding-bottom: 0;
}

.linex-list {
    /*line-height: 0;*/
    margin-left: 1.5em;
    margin-bottom: -12px;
}






ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.purple-bullet ul li::before {
    color: #E2007A;
}

.green-bullet ul li {
    margin-bottom: -15px;
}
.green-bullet ul li::before {
    color: #07ACAD;
}

.yellow-bullet ul li::before {
    color: #D2D605;
}

.light-green-bullet ul li::before {
    color: #A7C63B;
}

#linex-note ul li::before {
    color: #083d73;
}



/*
h4 {
    font-weight: 100;
}*/



#brand-large-simplebars {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.linex-reference {
    margin-top: 10%;
    font-size: 10px;
    font-weight: 900;
   /* color: black;*/
}

/*right side*/
#sandoz-logo {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
}

#main-content {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 550px;
    height: 725px;
    /*border: 1px solid #00457f;*/
    text-align: center;
    color: #00467D;

    background: url("../images/LINEX Forte packshot.png"); 
    background-size: 440px;
    background-repeat: no-repeat;
    background-position: -30% 45%;
   
}

#main-first {
    /*font-size: 99px;*/
    font-size: 570%;
  /*  width: 90%;
    padding: 1px;
    margin: 10px;*/
    position: absolute;
    top: -2%;
}

#main-second {
    /*font-size: 72px;*/
    font-size: 450%;
    position: absolute;
    top: 10%;
}

#main-third {
    /*font-size: 66px;*/
    font-size: 400%;
    position: absolute;
    top: 78%;
    /*border: 1px solid black;*/
}

/*#linex-package-large {
    position: relative;
    left: -70px;
    top: 0;
    margin: 20px;
    width: 450px;
}*/
/*.crop {
    width: 300px;

    overflow: hidden;
}*/


#od1kapsulednevno {
    position: absolute;
    right: 0;
    top: 37%;
    width: 180px;
/*    border: 1px solid black;*/
   /* right: 20px;
    top: 38%;
    width: 400px;
    border: 1px solid black;*/
    /*clip: rect(500px,500px,500px,500px);
    right: 10%;
    top: 65%;
    margin: 20px;
    width: 500px;
    margin-right: -500px;

    margin: -100px -100 0 0;
    border: 1px solid black;
    object-fit: cover;
    
   margin-right: -10%;
    padding-right: -10%;*/
}

#pill {
position: absolute;
    right: 5%;
    top: 72%;
  /*  margin: 20px;*/
    width: 150px;
}
/*END OF NEW*/

.simplebar-content{
    padding-right: 14px !important;
}

/*.bold {
    font-weight: 900;
}*/


.bold {
     font-family: MuseoSans_1;
     font-weight: 900;
}


@media (max-width: 600px) {

    

    #main-content {
        color: white;
        visibility: hidden;
    }


    #sandoz-logo {
        width: 30%;
    }

    #linex-brand {
        width: 40%;
        height: auto;
        margin: auto;
    }
/*
    footer {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        float: left;
    }*/

    footer {
    padding: 20px;
    background: #253e79;
    float: left;
    width: 100%;
    text-align: center;
    color: #f4f3f0;
    font-size: 34px;
    font-family: helvth;
    line-height: 40px;
}

    #linex-note, #linex-code {
        visibility: hidden;
    }
    

    #wrapper {
    /*background: url("../images/backgrounds/bgd-clouds.jpg") center no-repeat;*/
    /*background-size: cover;*/
    width: 100%;
    height: auto;
    margin: 0 auto;
    
    border: 1px solid #00447F;
    
    box-shadow: 12px 0 18px -10px rgba(50, 50, 50, 0.2), -12px 0 18px -10px rgba(50, 50, 50, 0.2);
    }

    #linex-description {
   /* position: absolute;*/
   /* left: 30px;*/
   /* bottom: 10px;*/
    margin: 0;
    padding: 0;
    width: 90%;
    height: 725px;
    border: 3px solid #00457f;
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    /*background: #C3E2F2;*/
    /*background: radial-gradient(rgba(255, 255, 255, 0.8), rgba(58, 170, 220, 1));*/
    color: #00457f;
    font-family: "Open Sans", sans-serif;
    /*font-size: 10pt;*/
    margin-left: auto;
    margin-right: auto;
    }

}