

@font-face {
    font-family: 'Gotham-ExtraLight';
    src: url('../fonts/gotham/Gotham-ExtraLight.otf') format('opentype');
}


@font-face {
    font-family: "MuseoSans-300";
    src: url('../fonts/MuseoSans-300.otf');
}

@font-face {
    font-family: "MuseoSans_1";
    src: url('../fonts/MuseoSans_1.otf');
}

@font-face {
    font-family: "MuseoSans_0";
    src: url('../fonts/MuseoSans_0.otf');
}


html {
    background: url("../images/backgrounds/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

body, html {
    min-height: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: MuseoSans-300, sans-serif;
}


#wrapper {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #00447F;
    border-top: none;
    box-shadow: 12px 0 18px -10px rgba(50, 50, 50, 0.2), -12px 0 18px -10px rgba(50, 50, 50, 0.2);
}

#container {
    position: relative;
    background-size: cover;
    height: 860px;
}

#linex-package {
    width: 28%;
    position: absolute;
    left: 0;
    bottom: -18px;
}

#linex-brand {
    position: absolute;
    left: 40px;
    top: 10px;
    width: 30%;
    height: auto;
}

#linex-stamp {
    position: absolute;
    right: 25px;
    bottom: 5px;
}

#linex-note {
    position: absolute;
    right: 50px;
    bottom: 10px;
    text-align: left;
    font-size: 9px;
}

#linex-note p, #linex-note ul {
    margin: 0;
    padding: 0;
    color: #00457d;
    font-weight: 900;
    font-size: 10px;
}

#linex-code{
    position: absolute;
    right: -45px;
    bottom: 65px;
    transform: rotate(-90deg);
    color: #083d73;
    font-size: 7pt;
}


#packshot{
    visibility: hidden;
    width: 100px;       /*SOLVED RESPONSIVE PROBLEM - WAS JUST HIDDEN*/
}

#linex-description {
    position: absolute;
    left: 30px;
    bottom: 10px;
    width: 570px;
    height: 725px;
    box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
    background: #C3E2F2;
    color: #00457f;
    font-family: MuseoSans-300, sans-serif;
  color: black;
}

#linex-description p {
    text-align: justify;
}



footer {
    width: 100%;
    height: auto;
    background: #083d73;
    padding: 10px 0;
    color: white;
    font-family: 'Gotham-ExtraLight', "Open Sans";
    font-weight: 300;
    font-size: 15px;
    text-align: center;
}

footer p {
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

@media (max-height: 768px) {
     /* EDIT(768) CSS that should be displayed if width is equal to or less than 800px goes here 
*/
#wrapper {
        zoom: 0.70;
        -moz-transform: scale(0.70);
        -moz-transform-origin: 0 0;
    }
}

.package-small {
    width: 70%;
    height: auto;
    margin-left: 30px;
    margin-bottom: 0;
    margin: 30px auto 0 30px;
}

.kapsula {
    width: 30%;
    height: auto;
    position: relative;
    left: 67%;
    top: 0px;
}

.relative {
    position: relative;
    top: 0;
    left: 0;
}

#pecat {
    width: 32%;
    height: auto;
    position: absolute;
    left: 60%;
    top: 65%;
}

#linexi {
    width: 100%;
    height: auto;
}

#gradient-antibiotici {
    position: relative;
    width: 100%;
    height: auto;
}

#dobro-je-znati {
 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: auto;
    padding: auto;
    margin: auto;
    text-align: center;
}

#linex-forte-packshot-kalendar{
    margin-left: -10px;
    margin-right: -10px;
    width: 70%;
    height: auto;
}

#antibiotik-linex {
    width: 42%;
    height: auto;
    position: absolute;
    top: -22%;
}

#od1kapsulednevno-small {
    position: absolute;
    right: 1px;
    top: 25%;
    height: 200px;
    width: auto;
}

.highlights {
    text-align: center;
    padding: 3px;
    margin: auto;
}

.highlights > h4 {
    margin: 0;
}

.question-highlight {
    text-align: left;
    font-size: 16px;
}

#balans {
    font-size: 35px;
    padding: 0;
    margin-bottom: 3px;
}

#antibiotici-probiotici {
    padding: 0;
    margin-top: 3px;
}

.blue {
    background-image: linear-gradient(to right, #3FBBE7 , #2E4694);
    color: white;
    font-size: 20px;
    margin: 15px auto;
    line-height: 1.5em;
    padding-top: 20px;
    padding-bottom: 20px;
}

.reverse {
    background-image: linear-gradient(to right, #2E4694, #3FBBE7);
}

.mikrobiotu {
    font-size: 140%;
}

.purple {
    background-image: linear-gradient(to right, #E1007A, #6C3689);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.yellow {
    background-image: linear-gradient(to right, #07ACAD , #D2D605);
    height: auto;
}

.yellow h1 {
    color: white;
    margin: 0px;
}

.yellow h2 {
    color: white;
}

.yellow h4 {
    font-size: 18px;
    font-weight: 900;
}

.orange {
    background-image: linear-gradient(to right, #FFE900, #E95F38);
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    margin-left: -10px;
    padding: 5px 20px;
}

.question-highlight {
    text-align: left;
    font-size: 14px;
    margin: 5px auto 15px 35px;
    padding-left: 10%;
}

.question-tag {
    height: 110%;
    width: auto;
    position: absolute;
    top: -4px;
    left: -10px;
}

.framed {
    /*border-width: 1px;*/
   /* border-style: solid;*/
   border: none;
    text-align: center;
    /*border-color: #E2007A;*/ /*TRY GRADIENT*/
    background-image: linear-gradient(to right, #E1007A, #6C3689);
/*    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, rgb(14,173,173)), color-stop(0.67, rgb(0,255,255)));
    background-image: -moz-linear-gradient(center bottom, rgb(14,173,173) 33%, rgb(0,255,255) 67% );*/
    padding: 2px;

}

.framed > div {
    background-color: #C3E2F2;
    margin-top: 0;
}

.framed > div > h4 {
    padding: 0;
    margin: 0;
}

.framed > div > p {
    padding: 0;
    margin: 0;
}

.no-bullet {
    list-style-type: none;
}

.line-spacing {
    line-height: 0;
}

.bottom-space li {
    margin-bottom: 1em;
}

.blue-color {
    color: #00467D;
}

.first-highlight {
    width: 80%;
}

.second-highlight {
    width: 95%;
}

.third-highlight {
    width: 95%;
    text-align: left;
}


.linex-list {
    margin-left: 1.5em;
    margin-bottom: -12px;
}

.reference {
    margin-left: 3em;
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: white; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.purple-bullet ul li::before {
    color: #E2007A;
}

.green-bullet ul li {
    margin-bottom: -15px;
}
.green-bullet ul li::before {
    color: #07ACAD;
}

.yellow-bullet ul li::before {
    color: #D2D605;
}

.light-green-bullet ul li::before {
    color: #A7C63B;
}

#linex-note ul li::before {
    color: #083d73;
}

#brand-large-simplebars {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.linex-reference {
    margin-top: 10%;
    font-size: 10px;
    font-weight: 900;
}

/*right side*/
#sandoz-logo {
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 30px;
}

#main-content {
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 550px;
    height: 725px;
    text-align: center;
    color: #00467D;
    background: url("../images/linex-forte-packshot.png"); 
    background-size: 440px;
    background-repeat: no-repeat;
    background-position: -30% 45%;
   
}

#main-first {
    font-size: 570%;
    position: absolute;
    top: -2%;
}

#main-second {
    font-size: 450%;
    position: absolute;
    top: 10%;
}

#main-third {
    font-size: 400%;
    position: absolute;
    top: 78%;
}

#od1kapsulednevno {
    position: absolute;
    right: 0;
    top: 37%;
    width: 180px;
}

#pill {
position: absolute;
    right: 5%;
    top: 72%;
    width: 150px;
}

.simplebar-content{
    padding-right: 14px !important;
}

.bold {
     font-family: MuseoSans_0;
     font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}

#mnooogo {
    visibility: hidden;
}

@media (max-width: 768px) {

    #main-content {
        visibility: hidden;
    }
    #od1kapsulednevno {
        visibility: hidden;
    }

    #pill {
        visibility: hidden;
    }

    #mnooogo {
        color: #00467D;
       float: left;
       width: 100%;
       text-align: center;
       padding: 20px;
       font-size: 34px;
       position: static;
       margin-top: 80px;
       visibility: visible;
    }

    #mnogo-first {
        font-size: 43px;
    }

    #mnogo-second {
        font-size: 34px;
    }

    #mnogo-third {
        font-size: 30px;
    }

    #sandoz-logo {
        width: 30%;
    }

    #linex-brand {
        width: 40%;
        height: auto;
        margin: auto;
    }

    .question-highlight {
    font-size: 2vw;
    padding-left: 10%;
    }

    .question-tag {
        position: absolute;
        top: -4px;
        left: 10px;
    }


    footer {
        padding: 20px;
        background: #253e79;
        float: left;
        width: 100%;
        text-align: center;
        color: #f4f3f0;
        font-size: 34px;
        font-family: helvth;
        line-height: 40px;
    }
    
    #container {
        height: 1000px;
    }

    #wrapper {
        width: 100%;
        height: auto;
        margin: 0 auto;
        border: none;
        box-shadow: 12px 0 18px -10px rgba(50, 50, 50, 0.2), -12px 0 18px -10px rgba(50, 50, 50, 0.2);
    }

    #linex-description {
        margin: 0px;
        margin-bottom: 120px;
        padding: 0;
        width: 90%;
        height: 600px; /*!!!*/
        border: 3px solid #00457f;
        box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.3);
        border-radius: 5px;
/*        font-family: "Open Sans", sans-serif;*/
        margin-left: auto;
        margin-right: auto;
    }

}
